:root {
  --white: #ffffff;
  --dark-moss-green: #606c38ff;
  --pakistan-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid #000000; */
}

html {
  background-color: var(--earth-yellow);
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  line-height: 1.5;
  color: var(--pakistan-green);
  background-color: var(--cornsilk);

  width: 61%;
  padding: 0 5rem;
  margin: 5rem auto;
  display: grid;
}

.material-symbols-outlined {
  margin-left: 1rem;
  font-size: 3rem;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

img {
  width: 1.2rem;
}

nav {
  position: fixed;
  top: 2rem;
  right: 1rem;
  left: 1rem;
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex: 1;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 0.25rem 1rem;
  background-color: var(--earth-yellow);
  border-left: 0.2rem solid var(--tigers-eye);
}
li:last-of-type {
  border-right: 0.2rem solid var(--tigers-eye);
}

nav ul li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

nav ul li a {
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: var(--cornsilk);
}

#header h1 {
  font-size: 2.75rem;
  font-weight: 800;
  padding: 2rem 0 0 0;
  color: var(--tigers-eye);
}

.header-links {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--pakistan-green);
  font-weight: 600;
}

.top-div {
  margin-top: 3.25rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
  color: var(--tigers-eye);
}

h4 {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0.25rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-size: 1.15rem;
  font-weight: 500;
  padding: 0.25rem 0;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skills-list #frontend-div,
#backend-div {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  padding: 5rem 0 3rem 0;
  text-align: center;
}
#copyright {
  font-weight: 600;
}

@media screen and (max-width: 2560px) {
  body {
    font-size: 30px;
    line-height: 2;

    width: 65%;
    padding: 0 5rem;
    margin: 7.5rem auto;
    display: grid;
  }

   img {
    width: 2.25rem;
  }

  nav {
    top: 3.75rem;
  }

    nav ul li {
    padding: 0.75rem 2.75rem;
  }

  #header h1 {
    font-size: 3.75rem;
  }

    /* h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.25rem;
  } */


  .top-div {
    margin-top: 5rem;
  }


}

@media screen and (max-width: 1920px) {
  body {
    font-size: 20px;
    line-height: 1.5;

    width: 64%;
    padding: 0 5rem;
    margin: 5rem auto;
    display: grid;
  }

  img {
    width: 2rem;
  }

  nav {
    top: 3.5rem;
  }

  nav ul li {
    padding: 0.75rem 2.35rem;
  }

  #header h1 {
    font-size: 3.25rem;
  }

  /* h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.25rem;
  } */

  .top-div {
    margin-top: 6.5rem;
  }
}

@media screen and (max-width: 1440px) {
  body {
    font-size: 18px;
    line-height: 1.25;

    width: 71.5%;
    padding: 0 4.5rem;
    margin: 4.75rem auto;
    display: grid;
  }

  nav {
    top: 2.45rem;
  }

  nav ul li {
    padding: 0.5rem 1.75rem;
  }

  #header h1 {
    font-size: 2.5rem;
  }

  .top-div {
    margin-top: 3.75rem;
  }
}
@media screen and (max-width: 1042px) {
  body {
    font-size: 16px;
    line-height: 1.15;

    width: 72%;
    padding: 0 2.5rem;
    margin: 2.5rem auto;
    display: grid;
  }

  nav ul li {
    padding: 0.5rem 0.75rem;
  }

  #header h1 {
    font-size: 2.35rem;
  }

  img {
    width: 1rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .skills-list p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
    line-height: 1;

    width: 90%;
    padding: 0 1rem;
    margin: 1rem auto;
    display: grid;
  }

  .material-symbols-outlined {
    margin-left: 0.5rem;
    font-size: 2.5rem;
  }

  nav {
    display: none;
  }

  .top-div {
    margin-top: 1rem;
  }

  .skills-list {
    display: flex;
    flex-direction: column;
  }

  .skills-list img {
    display: none;
  }

  .skills-list #frontend-div,
  #backend-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* justify-content: space-between; */
  }

  #header h1 {
    font-size: 2.25rem;
    padding: 1rem 0;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
    padding: 1rem 0;
    flex: 1;
  }
  h5 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1rem;
    padding: 1rem 0;
  }

  footer {
    padding: 2rem 0 1rem 0;
    text-align: center;
  }
  #copyright {
    padding-bottom: 0;
  }
}

/* ____________________end. */
